@CHARSET "UTF-8";
body {
	margin: 0;
	padding: 0;
}
.header_container {
	position: fixed;
	height: 5em;	/* Header height */ 
	width: 100%;
	top: 0;
	left:0;
	background: red;
	z-index: 1000;	
}
.header {
	position: static;
	max-width: 60em;	/* Header width */
	margin: auto;
}
.logo_container {
	z-index: 1000;	
	display: inline-block;
}
.menu_container {
	z-index: 1000;	
	display: inline-block;
}
.search_container {
	z-index: 1000;	
	display: inline-block;
}

.body_container {
	height: 100%;
	background: green;
	max-width: 60em;	/* Main width */
	margin: auto;
	overflow: auto;
	z-index: 100;	
}
.header_padding {
	height: 5em;	/* Header height */ 
	width: 100%;
}
.main_container {
	height: 100%;
	width: 68%;
	float: left;
}
.right_container {
	height: 100%;
	width: 30%;
	float: left;
}
.footer_padding {
	height: 4em;	/* Footer height */
	width: 100%;
	float: right;
}

.footer_container {
	position: fixed;
	height: 4em;	/* Footer height */
	bottom: 0;
	left: 0;
	width: 100%;
	background: blue;
	z-index: 1000;	
}
.footer {
	position: static;
	max-width: 60em;	/* Footer width */
	margin: auto;
}
