@CHARSET "UTF-8";
body {
	margin: 0;
	padding: 0;
}
.header_container {
	position: fixed;
	height: 5em;	/* Header height */ 
	width: 100%;
	top: 0;
	left:0;
	background: red;
	z-index: 1000;	
}
.header {
	position: static;
	max-width: 60em;	/* Header width */
	margin: auto;
}
.logo_container {
	display: inline-block;
}
.menu_container {
	display: inline-block;
}
.search_container {
	display: inline-block;
}

.rmenu_container {
	position: fixed;
	top: 5em;		/* Header height */
	left: 0;
	bottom: 4em;	/* Footer height */
	background: yellow;
	width: 100%;
	z-index: 10;	
}
.rmenu_marging {
	height: 100%;
	width: 60em;	/* Main width */
	margin: auto;
}
.rmenu {
	margin-left: 41em; 
	height: 100%;
	width: 19em;	/* rmenu width */
}


.body_container {
	position: relative;	
	height: 100%;
	max-width: 60em;	/* Main width */
	margin: auto;
	z-index: 100;	
}
.header_padding {
	height: 5em;	/* Header height */ 
	width: 100%;
}
.main_container {
	background: green;
	height: 100%;
	max-width: 40em;
}
.footer_padding {
	height: 4em;	/* Footer height */
	width: 100%;
}

.footer_container {
	position: fixed;
	height: 4em;	/* Footer height */
	bottom: 0;
	left: 0;
	width: 100%;
	background: blue;
	z-index: 1000;	
}
.footer {
	position: static;
	max-width: 60em;	/* Footer width */
	margin: auto;
}
